{% extends 'equipment_management/base.html' %}

{% block content %}
<br>
<h2><i class="fas fa-file-import"></i> {{ title }}</h2>
<br>
<div class="container">
  <form action="" method="POST">
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">登録</button>
  {% csrf_token %}
  </form>
</div>

{% endblock %}

{% block extrajs %}
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/timedropper/1.0/timedropper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timedropper/1.0/timedropper.min.js"></script>

    <script>
      $(function () {
        // timedropper
        $("#id_start_at").timeDropper({
            format: "H:mm",
            setCurrentTime: false,
        });

        $("#id_end_at").timeDropper({
            format: "H:mm",
            setCurrentTime: false,
        });

      });
    </script>
{% endblock %}