{% extends 'equipment_management/base.html' %}

{% block content %}

<h1><i class="fas fa-microphone"></i> PDE Band List</h1>

<table class="table">
  <thead>
    <tr>
      <th>Band Names</th>
      <th>Band Masters</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for band in bands %}
    <tr>
      <td><a href="{% url 'equipment:schedule_by_band' band.pk %}">{{ band.band_name }}</a></td>
      <td>{{ band.responsible_person_name }}</td>
      <td><a href="{% url 'equipment:delete_band' band.pk %}">削除</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}