{% extends 'equipment_management/base.html' %}

{% block content %}
<br>
<h4><i class="fas fa-microphone"></i> {{ target_date }}の予約一覧</h4>
<br>
{% for schedule in schedules %}
<div class="card">
    <div class="card-body">
      <h6 class="card-title font-weight-bold">
        <a href="{% url 'equipment:schedule_by_band' schedule.band_id.id %}">{{ schedule.band_id }}</a>
      </h6>
      <p class="card-text font-weight-bold">予約日時</p>
      <p class="card-text">{{ schedule.active_date }} {{ schedule.start_at }} - {{ schedule.end_at }}</p>
      <p class="card-text font-weight-bold">備考</p>
      <div class='test'>
        <p class="card-text text-break">{{ schedule.text }}</p>
      </div>
      <br>
      <a href="{% url 'equipment:update_schedule' schedule.pk %}">
          <button type="button" class="btn btn-success btn-xs" style="font-size: 10px;">予約変更</button>
      </a>
      <a href="{% url 'equipment:delete_schedule' schedule.pk %}">
        <button type="button" class="btn btn-danger btn-xs" style="font-size: 10px;">予約取消</button>
      </a>
    </div>
  </div>
{% endfor %}
{% endblock %}