{% extends 'equipment_management/base.html' %}

{% block content %}

<br>
<h2><i class="fas fa-calendar-week"></i> 予約スケジュール</h2>
<br>

<a href="{% url 'equipment:month' month_previous.year month_previous.month %}">前月</a>
{{ month_current | date:"Y年m月" }}
<a href="{% url 'equipment:month' month_next.year month_next.month %}">次月</a>

<table class="table">
  <thead>
    <tr>
      {% for w in week_names %}
        <th>{{ w }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for week in month_days %}
      <tr>
        {% for day in week %}
          {% if now == day %}
            <td class="table-success">
          {% else %}
            <td>
          {% endif %}

          {% if month_current.month != day.month %}
            <a href="{% url 'equipment:day_schedule' day.year day.month day.day %}">{{ day | date:"m/d" }}</a>
          {% else %}
            <a href="{% url 'equipment:day_schedule' day.year day.month day.day %}">{{ day.day }}</a>
          {% endif %}

            </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<br>
<br>
<br>
<br>

<h2><i class="fas fa-microphone"></i> 本日({{ today }})の予約一覧</h2>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Bands</th>
      <th>Date</th>
      <th>Start at</th>
      <th>End at</th>
      <th>備考</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for schedule in schedules %}
      <tr>
        <td><a href="{% url 'equipment:schedule_by_band' schedule.band_id.id %}">{{ schedule.band_id }}</a></td>
        <td>{{ schedule.active_date }}</td>
        <td>{{ schedule.start_at }}</td>
        <td>{{ schedule.end_at }}</a></td>
        <td>{{ schedule.text }}</td>
        <td>
          <a href="{% url 'equipment:update_schedule' schedule.pk %}">
            <button type="button" class="btn btn-success">予約変更</button>
          </a>
        </td>
        <td>
          <a href="{% url 'equipment:delete_schedule' schedule.pk %}">
            <button type="button" class="btn btn-danger">予約取消</button>
          </a>
        </td>
    {% endfor %}
  </tbody>
</table>

{% endblock %}