{% extends 'equipment_management/base.html' %}

{% block content %}
<br>
<h4><i class="fas fa-trash-alt"></i> 予約取消</h4>
<br>

<form action="" method="POST">
    <table class="table">
      <tr>
        <th>バンド名</th>
        <td>{{ schedule.band_id }}</td>
      </tr>
      <tr>
        <th>Start at</th>
        <td>{{ schedule.start_at }}</td>
      </tr>
      <tr>
        <th>End at</th>
        <td>{{ schedule.end_at }}</td>
      </tr>
      <tr>
        <th>備考</th>
        <td>{{ schedule.text }}</td>
      </tr>
    </table>
  <p>この予約を取り消します</p>
  <button type="submit" class="btn btn-danger">削除</button>
  {% csrf_token %}
</form>
{% endblock %}