{% extends 'equipment_management/base.html' %}

{% block content %}
<br>
<h2><i class="fas fa-microphone"></i> {{ band_name }}の予約一覧</h2>
<br>

<table class="table">
  <thead>
    <tr>
      <th class="date">Date</th>
      <th>Start at</th>
      <th>End at</th>
      <th>PA担当者</th>
      <th>備考</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for schedule in schedules %}
    <tr>
      <td class="date">{{ schedule.active_date }}</td>
      <td>{{ schedule.start_at }}</td>
      <td>{{ schedule.end_at }}</a></td>
      <td>{{ schedule.pa_name }}</td>
      <td>{{ schedule.text }}</td>
      <td>
        <a href="{% url 'equipment:update_schedule' schedule.pk %}">
          <button type="button" class="btn btn-success btn-xs" style="font-size: 10px;">予約変更</button>
        </a>
      </td>
      <td>
        <a href="{% url 'equipment:delete_schedule' schedule.pk %}">
          <button type="button" class="btn btn-danger btn-xs" style="font-size: 10px;">予約取消</button>
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}