td{
  font-size: xx-small;
}

th{
  font-size: xx-small;
}

/* .table th,
.table td {
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
    text-align: left;
    width: 150px;
}

.table th {
    background-color: #FFFFFF;
}

.table .date .band-name{
  background-color: #FFFFFF;
  width: 200px;
} */

button {
  font-size: small;
}

footer {
  background-color: rgb(67, 67, 67);
  color: whitesmoke;
}

